
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        header {
            width: 100%;
            background-color: rgba(155, 133, 13, 0.336);
            padding: 10px 0;
        }

        nav ul {
            list-style: none;
            padding: 0;
            color: antiquewhite;
        }

        nav ul li {
            display: inline;
            margin: 0 20px;
        }

        main {
            width: 100%;
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: wheat;
            border-radius: 8px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .image-container {
            position: relative;
            text-align: center;
            margin: 20px 0;
        }

        .image {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }

        .text-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 8px;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(2, 240px);
            grid-template-rows: repeat(3, 240px);
            gap: 20px;
            justify-content: center;
        }

        .grid-item {
            background-color: #4CAF50;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            border-radius: 8px;
            padding: 10px;
        }

        .grid-item img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }

        #trickshot {
            width: 240px;
            height: 240px;
        }

        img#music.hobby-image {
            width: auto;
        }

        /* Media Queries */
        @media (max-width: 600px) {
            .grid {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                width: 100%;
                height: auto;
            }
        }

        @media (max-width: 400px) {
            .grid {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(6, 1fr);
            }
        }

        footer {
            width: 100%;
            padding: 10px 0;
            background-color: wheat;
            text-align: center;
        }

        iframe {
            width: 100%;
        }


